<link rel="stylesheet" href="/style.css">

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2959149-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body bgcolor="#b6b3b3" link="660066" vlink="660066" alink="660066">

<table border=0 width="800" align=center cellpadding=0 cellspacing=0">
<tr height=20> <td align="right"> <div class="footer"> <a style="text-decoration:none" href="http://www.cshl.edu">Cold Spring Harbor Laboratory</a> | <a style="text-decoration:none" href="http://www.jhu.edu">Johns Hopkins University</a> </div> </td>

<tr><td>

<table style="border:1px solid black;" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

<tr><td height=100 bgcolor="#024769"><a href="/"><img src="/images/header.png" width=100% height=120 border=0></a> </td></tr>

<tr><td height="1px" bgcolor="#000000"></td></tr>

<tr>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<td style="border:1px solid #333333;" width="20%"><div align="center" class="navbar"><a href="/research/">research</a></div></td>
<td style="border:1px solid #333333;" width="20%"><div align="center" class="navbar"><a href="/teaching/">teaching</a></div></td>
<td style="border:1px solid #333333;" width="20%"><div align="center" class="navbar"><a href="/publications/">publications</a></div></td>
<td style="border:1px solid #333333;" width="20%"><div align="center" class="navbar"><a href="/people/">people</a></div></td>
<td style="border:1px solid #333333;" width="20%"><div align="center" class="navbar"><a href="/apply/">apply</a></div></td>
</table>
</tr>

<tr><td height="1px" bgcolor="#000000"></td></tr>

<tr><td bgcolor="#FFFFFF">
<table width="98%" height="25" border="0" align="center" cellpadding="0" cellspacing="5" class="intro">
<tr> <td> <br>

<!-- header -->
